/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #f4f4f9;
    background: url('https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg') no-repeat center center/cover;
    color: black;

}

h1 {
    text-align: center;
    margin-top: 20px;
    color: black;
}
h2 {
    text-align: center;
    margin-top: 20px;
    color: black;
}


.container {
    max-width: 600px;
    width: 85%;
    margin: 20px auto;
    background: #fff;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid black;
    padding: 80px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}



.schedule-list {
    list-style: none;
    padding: 0;
}

.schedule-list li {
    margin: 10px 0;
    padding: 10px;
    background: #e7f3fe;
    border-radius: 8px;
}
