<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pet Haven</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap">
  </head>
  <body>
    <!-- Header -->
    <nav class="navbar">
      <div class="logo">
        <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="Pet Heaven Logo">
        <span>Pet Haven</span>
      </div>
      <ul class="nav-links">
        <li><a href="{{ url_for('login') }}" class="nav-link text-white">Login</a></li>
          <li> <a href="{{ url_for('register') }}" class="nav-link text-white">Register</a></li>
        </ul>
      </nav>

    <!-- Main Content -->
    <main class="main text-center py-5">
      <h1 class="heading mb-4">Welcome to Pet Haven-Your Trusted Pet Care Service</h1>
      <p class="text mx-auto px-5">
        Explore our Pet Shop and attend exciting Events that bring pets and pet lovers together, and enjoy top-notch Services including grooming, training, and health checkups—all to ensure your furry friends live their happiest and healthiest lives!
      </p>
    </main>

    <!-- Footer -->
    <footer class="footer text-center py-3">
      <p class="mb-0">&copy; 2025. Copyright by Pet Haven</p>
    </footer>

    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>