<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Haven - Thank You</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/thankyou.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/thank_you.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <div class="container">
        <div class="thank-you-message">
            <i class="fas fa-check-circle"></i>
            <h1>Thank You for Your Order!</h1>
            <p>Your order has been placed successfully. We’ll notify you once it’s ready for shipping.</p>
            <a href="/customer_dashboard" class="home-button">Return to Home</a>
        </div>
    </div>
    
</body>

</html>
